*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

body {
  margin: 0 auto;
  width: 50%;
  min-height: 100dvh;
  background-color: #f7f4f3;
  font-family: Georgia, "Times New Roman", Times, serif;
}

img {
  display: block;
  justify-self: center;
  margin: 1rem;
  max-width: 450px;
  height: 450px;
  object-fit: cover;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

p {
  justify-self: center;
  max-width: 55ch;
  color: #5e544b;
  text-wrap: pretty;
}

h1,
h2,
h3 {
  color: #2b221a;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 0.25rem;
}

h3 {
  margin: 1.5rem 0 0.25rem 3.75rem;
}

header {
  justify-self: center;
}

#content {
  background-color: white;
  padding: 1.5rem;
}

button {
  margin: 0.25rem;
  border: 1px solid #cac4be;
  padding: 0.25rem 1rem;
  background-color: #e7e5e3;
  &:hover {
    background-color: #d4d0cc;
  }
}
